* {
    box-sizing: border-box;
}

header {
    height: 80px;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    z-index: 100;
}

.header_background {
    position: absolute;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80px;
    opacity: 0.4;
}

.main_nav_wrapper {
    max-width: 1760px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    padding: 0px 80px;
    position: relative;
    width: 100%;
    align-items: center;
}

.main_tabs_wrapper {
    display: flex;
    margin-left: 90px;
}

.main_tab {
    color: white;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    padding: 10px 16px !important;
}

.main_tab:hover {
    color: rgb(150, 150, 150)
}

.sub_tabs_wrapper {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
}

.sub_tab {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
}

.sub_tab.third {
    background-color: #FFFFFF;
    border-radius: 21px;
    height: 42px;
    position: relative;
    display: flex;
    border: 1px solid #DDDDDD;
    align-items: center;
}

.profile {
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.sub_tab img {
    height: 80px;
}

.main_background_wrapper {
    max-height: 90vh;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.main_background {
    width: 100vw;
    z-index: 100;
}

.main_background_oneline {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
}

.main_background_online_items_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_background_online_items {
    width: 100%;
    height: 100%;
    max-width: 1760px;
    padding: 0 80px;
    margin: 0 auto;
}

.main_background_online_content_wrapper {
    display: flex;
    align-items: center;
    padding-top: 146px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
}

.main_background_online_content {
    width: 416px;
    height: 170px;
}

.main_background_online_content span {
    color: white;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: normalem;
    line-height: 70px;
}

.main_background_online_content div {
    margin-top: 22px;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #222222;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    background-color: white;
    border: none;
}