* {
    box-sizing: border-box;
}

header {
    height: 80px;
    left: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    z-index: 1000;
}

header.scrolled {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
}

.header_background {
    position: absolute;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80px;
    opacity: 0.4;
}

.header_background.scrolled {
    background-image: none;
    background-color: white;
    opacity: 1;
}

.main_nav_wrapper {
    max-width: 1760px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    padding: 0px 80px;
    position: relative;
    width: 100%;
    align-items: center;
}

.main_tabs_wrapper {
    display: flex;
    margin-left: 90px;
}

.main_tab {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    padding: 10px 16px !important;
}

.main_tab:hover {
    color: rgb(150, 150, 150)
}

.sub_tabs_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
}

.sub_tab {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    text-align: center;
    position: relative;
}

.sub_tab.third {
    background-color: #FFFFFF;
    border-radius: 21px;
    height: 42px;
    position: relative;
    display: flex;
    border: 1px solid #DDDDDD;
    align-items: center;
    transition: box-shadow 300ms ease-in-out;
    margin: 0px;
    cursor: pointer;
}

.options {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 230px;
    border-radius: 12px;
    position: absolute;
    right: 0px;
    top: 75px;
}

.options ul {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    list-style: none;
    padding-left: 0px;
}

.options>ul>li {
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
}

.options>ul>li:hover {
    background-color: #E2E2E2;
}

.options>ul:first-child>li:last-child {
    border-bottom: 1px solid #DDDDDD;
}

.options>ul:first-child>li:first-child {
    font-weight: bold;
}

.sub_tab.third:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.profile {
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.sub_tab img {
    height: 80px;
}

.main_background_wrapper {
    max-height: 90vh;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.main_background {
    width: 100vw;
    z-index: 100;
}

.main_background_oneline {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
}

.main_background_online_items_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_background_online_items {
    width: 100%;
    height: 100%;
    max-width: 1760px;
    padding: 0 80px;
    margin: 0 auto;
}

.main_background_online_content_wrapper {
    display: flex;
    align-items: center;
    padding-top: 146px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
}

.main_background_online_content {
    width: 416px;
    height: 170px;
}

.main_background_online_content span {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: normalem;
    line-height: 70px;
}

.main_background_online_content div {
    margin-top: 22px;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #222222;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    background-color: #222222;
    border: none;
}

.logo_wrapper svg.scrolled {
    color: rgb(255, 56, 92);
}