body {
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.main_layout {
    height: 25%;
    width: 100%;
    border: 1px solid red;
}

.nav_image {
    height: 100%;
}

.content {
    display: flex;
}

.util {
    height: 100%;
    display: flex;
    align-items: center;
}

.option_button {
    display: flex;
    height: 80%;
    align-items: center;
}

.language_icon {
    height: 40%;
}

.bigbox {
    height: 10%;
    width: 100%;
    background-color: white;
    border: 1px solid aqua;
    display: flex;
    justify-content: space-around;
    border-radius: 300px;
    overflow: hidden;
}

.smallbox:hover {
    background-color: #DDDDDD;
}

.location {
    flex-direction: column;
}

.main_wrapper {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1760px;
    margin-left: auto;
    margin-right: auto;
}

.city {
    height: 25%;
    display: grid;
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.city_box {
    display: flex;
    flex: 1 1 0px;
    height: 64px;
}

.city_box>img {
    margin-right: 16px;
    border-radius: 8px;
}

.city_box_text {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city_box_text p {
    padding-bottom: 2px;
    margin: 0px;
}

.city_name {
    font-weight: bold;
}

.writing_words {
    padding-bottom: 16px;
    font-size: xx-large;
    font-weight: bold;
}

.house_kind {
    height: 75%;
}

.houses {
    justify-content: space-around;
    height: 100%;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: -5px;
    margin-left: -5px;
}

.house_box {
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: large;
    text-align: start;
    margin: 0px 5px;
}

.house_box>img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.online_experience {
    width: 100%;
    height: 20%;
    background-color: white;
}

.online_head {
    border: 5px solid blue;
}

.experiences {
    display: flex;
    border: 10px solid red;
}

.experience_box>img {
    height: 100px;
}

.bg-bl {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
}

.width100 {
    width: 100%;
}

.parent-fit {
    width: 100%;
    height: 100%;
}

.bg-bl-content {
    margin: -10px;
    display: flex;
    justify-content: center;
}

.bg-bl-content-item {
    height: 100%;
    width: 100%;
    margin: 10px;
}

.bg-bl-content-item>img {
    border-radius: 8px;
}

.p1 {
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
}

.p2 {
    margin: 0px;
}

.mg-tb40 {
    margin-top: 40px;
    margin-bottom: 40px;
}