.search_wrapper {
    width: 850px;
    height: 66px;
    display: flex;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    background-color: #FFFFFF;
    top: 80px;
    border: 1px solid #DDDDDD;
    position: absolute;
    overflow: hidden;
    z-index: 100;
}

.where {
    flex: 1.5 0 0%;
    border-radius: 32px;
    padding: 14px 32px;
}

.where:hover {
    background-color: #F7F7F7
}

.search_middle {
    align-self: center;
    border-right: 1px solid #DDDDDD;
    flex: 0 0 0px;
    height: 32px;
}

.check_box {
    flex: 2 0 0%;
    display: flex;
    position: relative;
}

.check_in {
    border-radius: 32px;
    padding: 14px 24px;
    flex: 1 0 0%;
    align-items: center;
}

.check_in:hover {
    background-color: #F7F7F7
}

.check_out {
    border-radius: 32px;
    padding: 14px 24px;
    flex: 1 0 0%;
}

.check_out:hover {
    background-color: #F7F7F7
}

.people_number {
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex: 1.3 0 0%;
}

.people_number:hover {
    background-color: #F7F7F7
}

.people_number_content {
    padding: 14px 24px;
    flex: 1 0 0%;
    width: 0px;
    border: 0px;
    display: block;
    margin: 0px;
    height: 100%;
}

.search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 24px;
    max-width: 48px;
    width: 48px;
    margin: 0px;
    padding: 0px;
    background-color: #FF385C;
    position: relative;
    margin: 9px;
}

.title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px;
}

.introduce {
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    color: rgb(133, 133, 133);
}